# =========================
# General
# =========================
# env files (frontend + backend)
.env
.env.*
*.env
*.env.*

# logs & temp
*.log
logs/
tmp/
temp/
.cache/
*.tmp

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors/IDEs
.vscode/
.idea/
*.swp
*.swo
*.orig
.eslintcache

# =========================
# Next.js / Node (frontend)
# =========================
node_modules/
.pnp/
.pnp.js
.next/
out/
dist/
build/
.next/static/chunks/*
.next/cache/
.vercel/
.turbo/
.swc/
.nyc_output/
coverage/
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

# If you keep uploads locally (optional)
public/uploads/

# =========================
# Python / Django (backend)
# =========================
# bytecode / caches
__pycache__/
*.py[cod]
*.so
*.
